.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

hero-section {
  flex: 1;
  border-bottom: 1px solid #785542;
  border-top: 1px solid #785542;
}

page-footer {
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
}

