$navigation-bar: "navigation-bar";

.#{$navigation-bar}__container {
  background-color: #794771;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 9rem;
}

.#{$navigation-bar}__home-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  img {
    width: 70px;
    height: auto;
  }
}

.#{$navigation-bar}__page-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.#{$navigation-bar}__page {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  display: inline;
  font-size: 1rem;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 14px;
}

.#{$navigation-bar}__page:hover {
  border: 1px solid #ffffff;
  background-color: #ffd5ee;
  color: #b46294;
  transition: 0.3s;
}

@media (max-width: 1100px) {
  .#{$navigation-bar}__container {
    gap: 1rem;
    padding: 1rem;
  }

  .#{$navigation-bar}__page-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25rem;
  }
}

@media (max-width: 560px) {
  .#{$navigation-bar}__page-container {
    padding: 0;
  }
}
