<header class="navigation-bar__container">
  <a class="navigation-bar__home-button"
    href="">
    <img src="../../assets/siameseCatLogo.png">
  </a>
  <div class="navigation-bar__page-container">
    <a class="navigation-bar__page"
      href="">
      Home
    </a>
    <a class="navigation-bar__page"
      href="">
      About Me
    </a>
    <a class="navigation-bar__page"
      href="">
      Projects
    </a>
    <a class="navigation-bar__page"
      href="">
      Skills
    </a>
    <a class="navigation-bar__page"
      href="">
      Resume
    </a>
  </div>
</header>
