$footer: "footer";

.#{$footer}__link-container {
  background-color: #5a2952;
  padding: 2rem 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .image-format {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
  }

  .email {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
}
